$blue: #2f5cb7;
$darkBlue: #1F3E75;
$red: #FF0600;
$yellow: #E8CD0C;
$green: #23FF00;
$turquoise: #0DFFC7;
$grey: #444444;

$background: #f4f4f4;

$breakpoints: (
  "phone":        410px,
  "phone-wide":   480px,
  "phablet":      560px,
  "tablet-small": 640px,
  "tablet":       768px,
  "tablet-wide":  1024px,
  "desktop":      1248px,
  "desktop-wide": 1440px
);

@mixin mediaQuery($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
      $width: map_get($breakpoints, $width);
      @if $type == max {
          $width: $width - 1px;
      }
      @media only screen and (#{$type}-width: $width) {
        @content;
      }
  }
}