@import "../../../variables";

div {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 110px;
    border-radius: 2px;
    user-select: none;

    @include mediaQuery("phone-wide", max) {
        width: 100%;
        left: 0 !important;
        bottom: 0 !important;
        top: auto !important;

        :first-child {
            border-top-right-radius: 0 !important;
        }

        :last-child {
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }

        button {
            padding: 8px !important;

            &:hover {
                background-color: lighten($grey, 60) !important;
            }
        }
    }

    :first-child {
        border-top-right-radius: 8px;
    }

    :last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    button {
        background-color: lighten($grey, 60);
        border: none;
        text-align: left;
        padding: 2px;

        &:hover {
            background-color: lighten($darkBlue, 40);
        }
    }
}