<div (click)="closeModalClickedOutside($event)" id="modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Rename File</h2>
      <i (click)="closeModalCancel()" class="material-icons">cancel</i>
    </div>
    <div class="modal-body">
        <input type="text" spellcheck="false" [(ngModel)]="newName">
        <p *ngIf="errorRenamingFile">Error: Cannot rename file!</p>
    </div>
    <div class="modal-footer">
        <button (click)="closeModalSave()">Save</button>
    </div>
  </div>
</div>
