<section class="clickTargetDirOptions" (click)="hideAllMenus()" (contextmenu)="clickedOnFileList($event)" [style.height]="windowHeight - 67 + 'px'">
  <p *ngIf="(files | async)?.length === 0">This directory is empty!</p>
  <p *ngIf="showDirError">Error reading directory, it may not exist!</p>
  <article class="clickTargetDirOptions" *ngIf="(files | async)?.length !== 0">
    <app-file-entry *ngFor="let file of (files | async)"
                    [file]=file
                    (selectedFile)="selectedFile(file)"
                    (showFileMenu)="showFileMenu(file, $event)">
    </app-file-entry>
  </article>
  <app-file-options *ngIf="showingFileMenu"
                    [file]="fileToShowOptions"
                    [mousePosition]="mousePosition"
                    [currentDir]="currentDir"
                    (openDir)="selectedFile($event)"
                    (copy)="copyFile($event)"
                    (cut)="cutFile($event)"
                    (showRenameModal)="showRenameModal($event)"
                    (showDeleteModal)="showDeleteModal($event)">
  </app-file-options>
  <app-dir-options *ngIf="showingDirMenu"
                    [file]="fileToShowOptions"
                    [mousePosition]="mousePosition"
                    [currentDir]="currentDir"
                    [clipboard]="clipboard"
                    (reloadFiles)="mapFiles()"
                    (createDirFile)="showCreateModal()"
                    (pastedFile)="reloadAfterPaste($event)">
  </app-dir-options>
  <app-file-rename-modal *ngIf="showingRenameModal"
                         [file]="fileToShowOptions"
                         [currentDir]="currentDir"
                         (closingModal)="modalClosing($event)">
  </app-file-rename-modal>
  <app-delete-file-modal *ngIf="showingDeleteModal"
                         [file]="fileToShowOptions"
                         [currentDir]="currentDir"
                         (closingModal)="modalClosing($event)">
  </app-delete-file-modal>
  <app-create-modal *ngIf="showingCreateModal"
                    [currentDir]="currentDir"
                    (closingModal)="modalClosing($event)">
  </app-create-modal>
</section>

